

  .container{
    display: flex;
    flex-direction: column;
  }
  .white-font {
    color: #fff;
  }

  .list-h1 {
    color: #eeff04;
    font-size: 5rem;
    padding-left: 50px;
  }

  .movie-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .container-buttons{
    display: flex;
  }
  .button-add {
    font-family: "Big Shoulders Display", sans-serif;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    background-color: #d2e10a;
    margin: 30px 10px;
    border-radius: 10px;
    border: none;
    color: #393838;

    
    font-size: 2rem;
    text-decoration: none;
  }
  .input-title{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    width:500px;
  }

  .title-list{
    font-size: 40px;
    border: 2px solid #eeff04;
     border-radius: 10px;
    width:600px;

  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .label-new-list {
    display: block;
    
    font-size: 1.5rem;
   
  }
  .list-and-form {
    margin-top: 100px;
  }
  .input-title{
    font-size: 1.5rem;
  }


