* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.genrePage-wrapper {
  width: 100%;
  padding: 20px;
}
.genre-page {
  padding: 20px;
  /* background-color: rgb(163, 42, 74); */
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.genre-h1 {
  color: #eeff04;
  font-size: 5rem;
  padding-left: 50px;
}

.genre-list-container {
  overflow: hidden;
  padding: 10px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-list {
  overflow-x: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #eeff04 #ffffff;
  height: 650px;
}

.genre-list::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.genre-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* thumb */
.genre-list::-webkit-scrollbar-thumb {
  background-color: #eeff04;
  border-radius: 10px;
}

.genre-list::-webkit-scrollbar-thumb:hover {
  background-color: #a8b400;
}

.genre-item {
  background: rgb(255 255 255 / 10%);
  width: 200px;
  /* background: rgba(255, 255, 255, 0); */
  /* background: white; */
  border-radius: 16px;
  backdrop-filter: blur(20px);
  padding: 30px 20px;
  display: inline-flex;
  flex-direction: column;
}
.genre-item:hover {
  scale: 1.05;
  cursor: pointer;
}

.genre-img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
}

.genre-item.clicked {
  border: 2px solid yellow; /* クリック時の外枠を黄色に */
}
