* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.genre-page {
  padding: 20px;
  background-color: white;
  height: 100vh;
}

.genre-list {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
  gap: 12px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.genre-item {
  display: inline-flex;
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: 1px solid yellow;
  flex-direction: column;
}

.genre-img {
  width: 100px;
  height: 130px;
}
