.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
  padding: 10px;
  color: white;
}

.summary {
  padding: 0 20px 10px;
}

/* .card button {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  background-color: #d2e10a;
  border-radius: 20px;
  cursor: pointer;
} */
