* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: right;
}

/* ICON */
.menu-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease;
}
.menu-icon:hover {
  transform: scale(1.1);
}

/* MENU CONTENTS */
.menu-content {
  margin-top: 80px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 99;
}

.main-rect {
  display: flex;
  justify-content: center;
  background: #eeff04;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* å½± */
  height: 80vh;
}
.main-rect a {
  color: inherit;
  text-decoration: none;
}

.main-rect a:hover {
  text-decoration: underline;
}

.main-rect a:active,
.main-rect a:focus {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  font-size: 3rem;
}

li {
  display: flex;
  align-items: center;
  font-size: 4rem;
  position: relative;
  font-family: "Big Shoulders Display", sans-serif;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-icon {
  margin-right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

li:hover .arrow-icon {
  opacity: 1;
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

li:hover .arrow-icon path {
  animation: arrowAnimation 2s linear infinite;
}
