body {
  width: 100%;
  height: 100%;
}
.register-box {
  width: 400px;
  background-color: white;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
  border: 1px solid #d2e10a;
  box-shadow: 0 0 5px #d2e10a, 0 0 10px #d2e10a, 0 0 15px #d2e10a,
    0 0 40px #d2e10a, 0 0 70px rgba(255, 255, 255, 0.5); /* ネオン効果の設定 */
  animation: neon-glow 1.5s linear infinite;
}
@keyframes neon-glow {
  0% {
    box-shadow: 0 0 10px #d2e10a, 0 0 20px #d2e10a, 0 0 30px #d2e10a,
      0 0 40px #d2e10a, 0 0 70px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 15px #d2e10a, 0 0 30px #d2e10a, 0 0 40px #d2e10a,
      0 0 50px #d2e10a, 0 0 100px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 10px #d2e10a, 0 0 20px #d2e10a, 0 0 30px #d2e10a,
      0 0 40px #d2e10a, 0 0 70px rgba(255, 255, 255, 0.5);
  }
}

.form-area {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  margin-top: 30px;
}

h1 {
  font-size: 5rem;
  padding-bottom: 30px;
  padding-left: 20px;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #393838;
  padding-bottom: 30px;
}

.input-area {
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d2e10a;
  margin-bottom: 15px;
  padding: 10px;
}

.signup-btn {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  background-color: #d2e10a;
}
