.homePage {
  height: 100vh;
  background-image: url("../../assets/Group.png");
  background-size: cover;
}

.background {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: flex-end;
}

h5 {
  color: white;
  font-size: 2rem;
  font-family: "Big Shoulders Display", sans-serif;
}

.neon-text {
  font-weight: 400;
  margin-right: 30px;
  font-size: 8rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 1000px #fff, 0 0 42px #d2e10a,
    0 0 82px #d2e10a, 0 0 92px #d2e10a, 0 0 102px #d2e10a, 0 0 151px #d2e10a;
  animation: flicker 2.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #d2e10a,
      0 0 80px #d2e10a, 0 0 90px #d2e10a, 0 0 100px #d2e10a, 0 0 150px #d2e10a;
  }

  55%,
  65% {
    text-shadow: none;
  }
}

/* VIDEO */
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.mainPage-btn {
  font-family: "Big Shoulders Display", sans-serif;
  width: 130px;
  height: 50px;
  margin: 0 auto;
  background-color: #d2e10a;
  margin: 30px 10px;
  border-radius: 10px;
  border: none;
  color: #393838;
}

.btn-area a {
  color: #393838;
  font-size: 2rem;
  text-decoration: none;
}
