.homePage {
  height: 100vh;
  width: 100vw;
}

/* will photoshop later */
/* .background {
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/movie-bc.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.background {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  font-size: 5rem;
  font-family: "Big Shoulders Display", sans-serif;
}

.neon-text {
  color: #d2e10a;
  text-shadow: 0 0 10px #d2e10a, 0 0 20px #d2e10a, 0 0 30px #d2e10a,
    0 0 40px #d2e10a;
  animation: flicker 1.5s linear infinite;
}

/* @keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #d2e10a, 0 0 11px #d2e10a, 0 0 19px #d2e10a,
      0 0 40px #d2e10a, 0 0 80px #d2e10a, 0 0 90px #d2e10a, 0 0 100px #d2e10a,
      0 0 150px #d2e10a;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
} */

@keyframes flicker {
  0%,
  100% {
    text-shadow: 0 0 10px #d2e10a, 0 0 20px #d2e10a, 0 0 30px #d2e10a,
      0 0 40px #d2e10a;
  }
  25%,
  75% {
    text-shadow: 0 0 20px #d2e10a, 0 0 30px #d2e10a, 0 0 40px #d2e10a,
      0 0 50px #d2e10a;
  }
  50% {
    text-shadow: 0 0 10px #d2e10a, 0 0 20px #d2e10a, 0 0 30px #d2e10a,
      0 0 40px #d2e10a, 0 0 70px rgba(255, 255, 255, 0.5);
  }
}
